.container {
  max-width: 1200px;
}

h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem;
}

.grid img {
  max-width: 100%;
  height: auto;
  display: block;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.grid-item {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}
.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}