.container {
  max-width: 1200px;
}

h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem;
}

.grid img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Ejemplo de CSS con selectores pesados */
.grid > div:nth-child(2) > img {
  border-radius: 8px;
}